div.leftside{
    width: 30%;
    background-color: rgb(62, 107, 255);
    border: 15px solid transparent;
    border-radius: 10px;
    border-left: ;
    color: aliceblue;
    padding-left: 30px;
    padding-right: 30px;
}
div.in_leftside{
    background-color:rgba(7, 64, 144, 0.5) ;
    padding: 20px;
    border-radius: 10px;
}
.remove_link{
    text-decoration: none;
    color: aliceblue;
}
p.leftside{
    font-size:15px;
}
*{
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}
div.rightside {
    width: 55%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f8f9fa;
}