.container{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    gap: 10px;
}
[class^="grid-box"]{
    outline: 2px dashed orangered;
}
.grid-box1{
    grid-row: 3;
    grid-column: 3;
}
.grid-box4{
    grid-row: 2;
    grid-column: 2;
}
.grid-box8{
    grid-row: 1;
    grid-column: 3;
}
.parent{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 5px;
}
[class^="child"]{
    outline: 2px double brown;
}